.custom-navbar {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    height: min-content;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(139, 135, 135, 0.08);
    font-family: "Vazirmatn", "IRANSans", sans-serif;
}


/* برای اینکه محتوای صفحه زیر نوبار نرود */
body {
    padding-top: 70px;
}

/* لوگو */
.navbar-logo {
    font-size: 28px;
    color: #d4a017;
}

/* لینک‌های منو */
.nav-link {
    background: transparent !important;
    color: #333 !important;
    border: none;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

/* هاور */
.nav-link:hover {
    background: transparent !important;
    color: #0d6efd !important;
}

/* لینک فعال */
.active-link {
    background: transparent !important;
    color: #0d6efd !important;
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
    border-radius: 0;
}